// Import page-specific CSS files here.
@import "home";
@import "boat";

.title-results {

padding-top: 100px;
margin-left: 100px;

}

.main-container {
display:flex;
}

.row-map {
  position: fixed;
  right: -5px;
}

#map {  // required for Safari
    width: 100%;
    top: 0;
    height: 300px;
 // required as well.
}


