<div class="grid-container">
  <header class="header">test</header>
  <aside class="sidenav">hello</aside>
  <main class="main">coucou </main>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <span>Find the boats U <i class="fas fa-heart"></i> and best on Boat&Breakfast </span>
    </div>
  </div>
</div>



