.form_search {
background-color: #f9f9f9e0;
color: black;
border-radius: 4px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 16px;
position: sticky;
}

.button {
border-radius: 4px;
width: 100px;
height: 39px;
background-color: #19bdf9;
color: white;
}
